{% extends 'todo/base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="col-md-3 col-lg-12 col-sm-12 col-xs-12">
        <div class="white-box d-flex justify-content-center">
            <form method="POST">
                {% csrf_token %}
                <p>Are you sure to delete TODO?</p>
                <button class="btn btn-danger" type="submit">Delete</button>
                <a href="{% url 'todo:todo-create' %}" class="btn btn-primary">Cancel</a>
            </form>
        </div>
    </div>
</div>


{% endblock content %}